@import url('https://fonts.googleapis.com/css?family=Lato:400i,700i&display=swap');
@import './reset.scss';

$background: #FAD8AB;
$yellow: #EFC74F;
$screen: #313132;
$display: #81807F;
$black: darken($screen, 13%);

*, *::before, *::after{
	box-sizing: border-box;
}

%pseudo_base{
	content: '';
	display: block;
	position: absolute;
}

@mixin arrow($top, $left, $dir){
	&::before{
		@extend %pseudo_base;
		z-index: 5;
		top: $top;
		left: $left;
		border: 0.6rem solid transparent;
		border-#{$dir}: 0.75rem solid $black;
	}
}

body{
	background: $background;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
}

.gcolor__container{
	position: relative;
	background: $yellow;
	width: 19rem;
	height: 31rem;
	border-radius: 1rem 1rem 0rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	&::before{
		@extend %pseudo_base;
		background: $yellow;
		z-index: -1;
		width: 100%;
		height: 3rem;
		border-radius: 0 0 50% 50%;
		left: 0%;
		bottom: -1.5rem;
	}
	.top__container{
		position: relative;
		width: 85%;
		height: 13rem;
		margin-top: 1rem;
		background: $screen;
		border-radius: 0.5rem 0.5rem 0 0; 
		display: flex;
		flex-direction: row;
		align-content: center;
    justify-content: center;
		box-shadow: inset 0px 9px 18px -9px $black, 0px 0px 6px 3px darken($yellow, 15%);
		&::before{
			@extend %pseudo_base;
			z-index: 1;
			width: 100%;
			height: 1rem;
			background: $screen;
			bottom: -1rem;
			border-radius: 0 0 50% 50%;
			box-shadow: inset 0 -9px 18px -18px #101011;
		}
		.screen__container{
			width: 65%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-content: flex-end;
			align-items: flex-end;
			justify-content: flex-end;
			.screen{
				background: $display;
				width: 100%;
				height: 65%;
			}
			.logo{
				width: 100%;
				height: 20%;

				& > p {
					padding-top: 1.5rem;
					text-align: center;
					font-size: 1.15rem;
					em{
						font-weight: 700;
						letter-spacing: -.25px;
						color: grey;
					}
					span{
						font-family: 'Comic Sans MS';
						font-weight: 700;
					}
					span:nth-of-type(1){ color: red; }
					span:nth-of-type(2){ color: blue; }
					span:nth-of-type(3){ color: green; }
					span:nth-of-type(4){ color: yellow; }
					span:nth-of-type(5){ color: skyblue; }
				}
			}
		}
	}
	.controls{
		height: 14rem;
		width: 17rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		.top{
			width: 100%;
			height: 6rem;
			padding: 0 0.85rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			.pad__container{
				width: 5.5rem;
				height: 5.5rem;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, 1fr);
				& > * {
					width: 100%;
					height: 100%;
					background: $screen;
					position: relative
				}
				.up { grid-area: 1 / 2 / 2 / 3; @include arrow(-0.25rem, 0.35rem, bottom) }
				.left { grid-area: 2 / 1 / 3 / 2; @include arrow(0.3rem, -0.25rem, right) }
				.center { 
					grid-area: 2 / 2 / 3 / 3;
					&::before{
						@extend %pseudo_base;
						width: 1rem;
						height: 1rem;
						top: 0.5rem;
						left: 0.40rem;
						border-radius: 50%;
						background: $black;
					}
				}
				.right { grid-area: 2 / 3 / 3 / 4; @include arrow(0.3rem, 0.75rem, left)}
				.down { grid-area: 3 / 2 / 4 / 3; @include arrow(0.75rem, 0.35rem, top) }
				
			}
			.buttons{
				position: relative;
				width: 6rem;
    		height: 3.75rem;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
				grid-column-gap: 1rem;
				&::before, &::after{
					@extend %pseudo_base;
					width: 100%;
					height: 100%;
					background: $screen;
					border-radius: 50%;
					font-size: 1.25rem;
					font-weight: 600;
					text-align: center;
					line-height: 2.25rem;
					color: $black;
				}
				&::before{
					content: 'A';
					grid-area: 1 / 2 / 3 / 3;
				}
				&::after{
					content: 'B';
					grid-area: 2 / 1 / 4 / 2;
				}
			}
		}
		.bottom{
			width: 100%;
			height: 5rem;
			display: flex;
			flex-direction: row;
			align-content: flex-start;
			justify-content: flex-end;
			.menu{
				position: relative;
				width: 33%;
				margin: 0 1rem;
				&::before, &::after{
					@extend %pseudo_base;
					width: 2.5rem;
					height: 0.75rem;
					background: $screen; 
					border-radius: 0.75rem;
				}
				&::before{ left: 0%; top: 0%;}
				&::after{ right: 0%; top: 0%;}
			}
			.sound{
				width: 5rem;
				height: 5rem; 
				background: grey;
				background: radial-gradient(circle, $display 3px, transparent 3px), radial-gradient(darken($display, 15%) 3px, transparent 3px);
				background-position: 3px 3px , 12px 12px;
				background-size: 18px 18px;
				clip-path: polygon(0% 10%, 10% 10%, 10% 0%, 90% 0%, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0% 90%);
			}
		}
	}
}