$background: #E8B0BD;
$machine: #E5675B;
$glass: #FCFFFC;
$turner: #C9C9C9;
$output: #2A2A2A;
$colors: #D81E5B #3E67C1 #662E9B #00CC99 #F4DB1D #D8830D #A5C103 #F4241D;
*, *::before, *::after{
	box-sizing: border-box;
}

%pseudo_base{
	content: '';
	display: block;
	position: absolute;
}
%debug{
	border: 1px solid red;
}
@mixin bubblegum($b, $l, $c: nth($colors, random(8))){
	bottom: $b;
	left: $l;
	background: $c;
	box-shadow: inset -1px -3px 5px 0px darken($c, 10%);
}
@mixin outputbubblegum($c: nth($colors, random(8))){
	background: $c;
	box-shadow: inset -1px -3px 5px 0px darken($c, 10%);
}
body{
	background: $background;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container{
	position: relative;
	width: 20rem;
	height: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	& > *{
		position: absolute;
	}
}

.dispenser__top{
	z-index:5;
	width: 9rem;
	height: 1rem;
	top: 5rem;
	border-radius: 1rem;
	background: $machine;
	box-shadow: inset 0px -2px 3px 0px darken($machine, 8%);
	&__mound{
		position: absolute;
		width: 8em;
		height: 8rem;
		border-radius: 10rem;
		background: $machine;
		clip-path: inset(0 0 70% 0);
		top: -2rem;
		left: 0.5rem;
		box-shadow: inset 0px -3px 12px 0px darken($machine, 8%);
	}
	&::before{
		@extend %pseudo_base;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		background: $machine;
		top: -3rem;
		left: 3.5rem;
		box-shadow: inset 0px -3px 9px 0px darken($machine, 8%);
	}
}
.dispenser__glass{
	z-index: 4;
	width: 13rem;
	height: 13rem;
	border-radius: 50%;
	top: 4.5rem;
	border: 1px solid #FCFFFC;
	background: $glass;
  filter: opacity(0.45);
	.bubblegum{
		z-index: 3;
		position: absolute;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}
	.bubblegum:nth-of-type(1){ @include bubblegum(2.5rem, 1rem); }
	.bubblegum:nth-of-type(2){ @include bubblegum(1rem, 2rem); }
	.bubblegum:nth-of-type(3){ @include bubblegum(1.25rem, 3.5rem); }
	.bubblegum:nth-of-type(4){ @include bubblegum(2.5rem, 2.5rem); }
	.bubblegum:nth-of-type(5){ @include bubblegum(0.5rem, 5rem); }
	.bubblegum:nth-of-type(6){ @include bubblegum(2.25rem, 4.25rem); }
	.bubblegum:nth-of-type(7){ @include bubblegum(1.25rem, 6rem); }
	.bubblegum:nth-of-type(8){ @include bubblegum(1.25rem, 9rem); }
	.bubblegum:nth-of-type(9){ @include bubblegum(0.5rem, 7.5rem); }
	.bubblegum:nth-of-type(10){ @include bubblegum(2.5rem, 10rem); }
	.bubblegum:nth-of-type(11){ @include bubblegum(2rem, 7.5rem); }
	.bubblegum:nth-of-type(12){ @include bubblegum(2.5rem, 5.75rem); }
	.bubblegum:nth-of-type(13){ @include bubblegum(3rem, 8.5rem); }
	.bubblegum:nth-of-type(14){ @include bubblegum(4rem, 0.25rem); }
	.bubblegum:nth-of-type(15){ @include bubblegum(4rem, 10rem); }
	.bubblegum:nth-of-type(16){ @include bubblegum(5rem, 10.75rem); }
	.bubblegum:nth-of-type(17){ @include bubblegum(5.5rem, 0.125rem); }
	.bubblegum:nth-of-type(18){ @include bubblegum(5.5rem, 1.25rem); }
	.bubblegum:nth-of-type(19){ @include bubblegum(6rem, 10.25rem); }
}
.dispenser__label{
	z-index: 5;
	width: 9rem;
	height: 6rem;
	background: white;
	top: 8rem;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	&::before{
		content: '99¢';
		display: block;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		background: $machine;
		width: 8rem;
		height: 5rem;
		font-size: 2.75rem;
		line-height: 1.75;
		text-align: center;
		color: white;
		clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	}
}
.dispenser__holder{
	z-index: 5;
	position: absolute;
	width: 9rem;
	height: 1rem;
	background: $machine;
	bottom: 8rem;
	border-radius: 0.5rem;
	box-shadow: inset 0px 0px 12px 0px darken($machine, 8%);
}
.dispenser__bottom{
	z-index: 5;
	width: 10rem;
	height: 8rem;
	bottom: 0;
	background-color: $machine;
	background-image: linear-gradient(97deg, transparent 0%, darken($machine, 8%) 5%, transparent 15%), linear-gradient(-97deg, transparent 0%, darken($machine, 8%) 5%, transparent 15%);
	clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	.dispenser__controls{
		width: 5.5rem;
		height: 6.5rem;
		background: lighten($machine, 10%);
		border: 1px solid darken($machine, 3%);
		padding-top: 0.5rem;
		border-radius: 0.5rem 0.5rem 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		.turner{
			position: relative;
			width: 4rem;
			height: 1.5rem;
			border-radius: 0.5rem;
			background: $turner;
			border: 1px solid darken($turner, 2%);
			box-shadow: inset 0px 0px 6px darken($turner, 20%), 0px 0px 9px 0px transparentize(darken($turner, 15%), 0.4);
			transform-origin: center center;
			animation: turn 950ms linear 1;
			animation-delay: 1s;
			&::before{
				@extend %pseudo_base;
				top: 0.45rem;
				left: 1.69rem;
				width: 0.5rem;
				height: 0.5rem;
				background: darken($turner, 20%);
				border-radius: 50%;
			}
		}
		.output{
			position: relative;
			width: 3.5rem;
			height: 3rem;
			border-radius: 50% 50% 0 0;
			background: $output;
			overflow: hidden;
			.bubblegum{
				z-index: 5;
				position: absolute;
				width: 2rem;
				height: 2rem;
				transform: translateY(50%);
				opacity: 0;
				left: 0.75rem;
				border-radius: 50%;
				@include outputbubblegum;
				animation: bubblegum-drop 3000ms cubic-bezier(.41,.28,.33,.9) 1;
				animation-delay: 1950ms;
			}
		}
	}
}
.dispenser__tray{
	z-index: 5;
	width: 11.5rem;
	height: 1rem;
	bottom: -0.9rem;
	background: $machine;
	border-radius: 0.25rem;
	box-shadow: inset 0px -3px 12px 0px darken($machine, 8%);
}

@keyframes turn {
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(180deg);
	}
}
@keyframes bubblegum-drop{
	0%{
		transform: translateY(-200%) scale(0.8);
		opacity: 1;
	}
	16.6%{
		transform: translateY(50%) scale(0.8);
		opacity: 1;
	}
	33.2%{
		transform: translateY(50%) scale(1);
		opacity: 1;
	}
	50%, 100%{
		transform: translateY(50%) scale(1);
		opacity: 1;
	}
}