@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dispenser__top::before, .dispenser__bottom .dispenser__controls .turner::before {
  content: '';
  display: block;
  position: absolute;
}

body {
  background: #E8B0BD;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  position: relative;
  width: 20rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > * {
  position: absolute;
}

.dispenser__top {
  z-index: 5;
  width: 9rem;
  height: 1rem;
  top: 5rem;
  border-radius: 1rem;
  background: #E5675B;
  -webkit-box-shadow: inset 0px -2px 3px 0px #df4638;
          box-shadow: inset 0px -2px 3px 0px #df4638;
}

.dispenser__top__mound {
  position: absolute;
  width: 8em;
  height: 8rem;
  border-radius: 10rem;
  background: #E5675B;
  -webkit-clip-path: inset(0 0 70% 0);
          clip-path: inset(0 0 70% 0);
  top: -2rem;
  left: 0.5rem;
  -webkit-box-shadow: inset 0px -3px 12px 0px #df4638;
          box-shadow: inset 0px -3px 12px 0px #df4638;
}

.dispenser__top::before {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #E5675B;
  top: -3rem;
  left: 3.5rem;
  -webkit-box-shadow: inset 0px -3px 9px 0px #df4638;
          box-shadow: inset 0px -3px 9px 0px #df4638;
}

.dispenser__glass {
  z-index: 4;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  top: 4.5rem;
  border: 1px solid #FCFFFC;
  background: #FCFFFC;
  -webkit-filter: opacity(0.45);
          filter: opacity(0.45);
}

.dispenser__glass .bubblegum {
  z-index: 3;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.dispenser__glass .bubblegum:nth-of-type(1) {
  bottom: 2.5rem;
  left: 1rem;
  background: #D8830D;
  -webkit-box-shadow: inset -1px -3px 5px 0px #a8660a;
          box-shadow: inset -1px -3px 5px 0px #a8660a;
}

.dispenser__glass .bubblegum:nth-of-type(2) {
  bottom: 1rem;
  left: 2rem;
  background: #F4241D;
  -webkit-box-shadow: inset -1px -3px 5px 0px #d4110a;
          box-shadow: inset -1px -3px 5px 0px #d4110a;
}

.dispenser__glass .bubblegum:nth-of-type(3) {
  bottom: 1.25rem;
  left: 3.5rem;
  background: #F4241D;
  -webkit-box-shadow: inset -1px -3px 5px 0px #d4110a;
          box-shadow: inset -1px -3px 5px 0px #d4110a;
}

.dispenser__glass .bubblegum:nth-of-type(4) {
  bottom: 2.5rem;
  left: 2.5rem;
  background: #F4241D;
  -webkit-box-shadow: inset -1px -3px 5px 0px #d4110a;
          box-shadow: inset -1px -3px 5px 0px #d4110a;
}

.dispenser__glass .bubblegum:nth-of-type(5) {
  bottom: 0.5rem;
  left: 5rem;
  background: #3E67C1;
  -webkit-box-shadow: inset -1px -3px 5px 0px #32529a;
          box-shadow: inset -1px -3px 5px 0px #32529a;
}

.dispenser__glass .bubblegum:nth-of-type(6) {
  bottom: 2.25rem;
  left: 4.25rem;
  background: #A5C103;
  -webkit-box-shadow: inset -1px -3px 5px 0px #7a8f02;
          box-shadow: inset -1px -3px 5px 0px #7a8f02;
}

.dispenser__glass .bubblegum:nth-of-type(7) {
  bottom: 1.25rem;
  left: 6rem;
  background: #F4DB1D;
  -webkit-box-shadow: inset -1px -3px 5px 0px #d4bc0a;
          box-shadow: inset -1px -3px 5px 0px #d4bc0a;
}

.dispenser__glass .bubblegum:nth-of-type(8) {
  bottom: 1.25rem;
  left: 9rem;
  background: #3E67C1;
  -webkit-box-shadow: inset -1px -3px 5px 0px #32529a;
          box-shadow: inset -1px -3px 5px 0px #32529a;
}

.dispenser__glass .bubblegum:nth-of-type(9) {
  bottom: 0.5rem;
  left: 7.5rem;
  background: #D8830D;
  -webkit-box-shadow: inset -1px -3px 5px 0px #a8660a;
          box-shadow: inset -1px -3px 5px 0px #a8660a;
}

.dispenser__glass .bubblegum:nth-of-type(10) {
  bottom: 2.5rem;
  left: 10rem;
  background: #00CC99;
  -webkit-box-shadow: inset -1px -3px 5px 0px #009973;
          box-shadow: inset -1px -3px 5px 0px #009973;
}

.dispenser__glass .bubblegum:nth-of-type(11) {
  bottom: 2rem;
  left: 7.5rem;
  background: #A5C103;
  -webkit-box-shadow: inset -1px -3px 5px 0px #7a8f02;
          box-shadow: inset -1px -3px 5px 0px #7a8f02;
}

.dispenser__glass .bubblegum:nth-of-type(12) {
  bottom: 2.5rem;
  left: 5.75rem;
  background: #3E67C1;
  -webkit-box-shadow: inset -1px -3px 5px 0px #32529a;
          box-shadow: inset -1px -3px 5px 0px #32529a;
}

.dispenser__glass .bubblegum:nth-of-type(13) {
  bottom: 3rem;
  left: 8.5rem;
  background: #A5C103;
  -webkit-box-shadow: inset -1px -3px 5px 0px #7a8f02;
          box-shadow: inset -1px -3px 5px 0px #7a8f02;
}

.dispenser__glass .bubblegum:nth-of-type(14) {
  bottom: 4rem;
  left: 0.25rem;
  background: #662E9B;
  -webkit-box-shadow: inset -1px -3px 5px 0px #4c2274;
          box-shadow: inset -1px -3px 5px 0px #4c2274;
}

.dispenser__glass .bubblegum:nth-of-type(15) {
  bottom: 4rem;
  left: 10rem;
  background: #D81E5B;
  -webkit-box-shadow: inset -1px -3px 5px 0px #ab1848;
          box-shadow: inset -1px -3px 5px 0px #ab1848;
}

.dispenser__glass .bubblegum:nth-of-type(16) {
  bottom: 5rem;
  left: 10.75rem;
  background: #662E9B;
  -webkit-box-shadow: inset -1px -3px 5px 0px #4c2274;
          box-shadow: inset -1px -3px 5px 0px #4c2274;
}

.dispenser__glass .bubblegum:nth-of-type(17) {
  bottom: 5.5rem;
  left: 0.125rem;
  background: #A5C103;
  -webkit-box-shadow: inset -1px -3px 5px 0px #7a8f02;
          box-shadow: inset -1px -3px 5px 0px #7a8f02;
}

.dispenser__glass .bubblegum:nth-of-type(18) {
  bottom: 5.5rem;
  left: 1.25rem;
  background: #00CC99;
  -webkit-box-shadow: inset -1px -3px 5px 0px #009973;
          box-shadow: inset -1px -3px 5px 0px #009973;
}

.dispenser__glass .bubblegum:nth-of-type(19) {
  bottom: 6rem;
  left: 10.25rem;
  background: #662E9B;
  -webkit-box-shadow: inset -1px -3px 5px 0px #4c2274;
          box-shadow: inset -1px -3px 5px 0px #4c2274;
}

.dispenser__label {
  z-index: 5;
  width: 9rem;
  height: 6rem;
  background: white;
  top: 8rem;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.dispenser__label::before {
  content: '99¢';
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: #E5675B;
  width: 8rem;
  height: 5rem;
  font-size: 2.75rem;
  line-height: 1.75;
  text-align: center;
  color: white;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.dispenser__holder {
  z-index: 5;
  position: absolute;
  width: 9rem;
  height: 1rem;
  background: #E5675B;
  bottom: 8rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0px 0px 12px 0px #df4638;
          box-shadow: inset 0px 0px 12px 0px #df4638;
}

.dispenser__bottom {
  z-index: 5;
  width: 10rem;
  height: 8rem;
  bottom: 0;
  background-color: #E5675B;
  background-image: linear-gradient(97deg, transparent 0%, #df4638 5%, transparent 15%), linear-gradient(-97deg, transparent 0%, #df4638 5%, transparent 15%);
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dispenser__bottom .dispenser__controls {
  width: 5.5rem;
  height: 6.5rem;
  background: #ec9087;
  border: 1px solid #e35b4e;
  padding-top: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dispenser__bottom .dispenser__controls .turner {
  position: relative;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: #C9C9C9;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: inset 0px 0px 6px #969696, 0px 0px 9px 0px rgba(163, 163, 163, 0.6);
          box-shadow: inset 0px 0px 6px #969696, 0px 0px 9px 0px rgba(163, 163, 163, 0.6);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: turn 950ms linear 1;
          animation: turn 950ms linear 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dispenser__bottom .dispenser__controls .turner::before {
  top: 0.45rem;
  left: 1.69rem;
  width: 0.5rem;
  height: 0.5rem;
  background: #969696;
  border-radius: 50%;
}

.dispenser__bottom .dispenser__controls .output {
  position: relative;
  width: 3.5rem;
  height: 3rem;
  border-radius: 50% 50% 0 0;
  background: #2A2A2A;
  overflow: hidden;
}

.dispenser__bottom .dispenser__controls .output .bubblegum {
  z-index: 5;
  position: absolute;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  left: 0.75rem;
  border-radius: 50%;
  background: #D81E5B;
  -webkit-box-shadow: inset -1px -3px 5px 0px #ab1848;
          box-shadow: inset -1px -3px 5px 0px #ab1848;
  -webkit-animation: bubblegum-drop 3000ms cubic-bezier(0.41, 0.28, 0.33, 0.9) 1;
          animation: bubblegum-drop 3000ms cubic-bezier(0.41, 0.28, 0.33, 0.9) 1;
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
}

.dispenser__tray {
  z-index: 5;
  width: 11.5rem;
  height: 1rem;
  bottom: -0.9rem;
  background: #E5675B;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0px -3px 12px 0px #df4638;
          box-shadow: inset 0px -3px 12px 0px #df4638;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes bubblegum-drop {
  0% {
    -webkit-transform: translateY(-200%) scale(0.8);
            transform: translateY(-200%) scale(0.8);
    opacity: 1;
  }
  16.6% {
    -webkit-transform: translateY(50%) scale(0.8);
            transform: translateY(50%) scale(0.8);
    opacity: 1;
  }
  33.2% {
    -webkit-transform: translateY(50%) scale(1);
            transform: translateY(50%) scale(1);
    opacity: 1;
  }
  50%, 100% {
    -webkit-transform: translateY(50%) scale(1);
            transform: translateY(50%) scale(1);
    opacity: 1;
  }
}

@keyframes bubblegum-drop {
  0% {
    -webkit-transform: translateY(-200%) scale(0.8);
            transform: translateY(-200%) scale(0.8);
    opacity: 1;
  }
  16.6% {
    -webkit-transform: translateY(50%) scale(0.8);
            transform: translateY(50%) scale(0.8);
    opacity: 1;
  }
  33.2% {
    -webkit-transform: translateY(50%) scale(1);
            transform: translateY(50%) scale(1);
    opacity: 1;
  }
  50%, 100% {
    -webkit-transform: translateY(50%) scale(1);
            transform: translateY(50%) scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */