$background: #283156;
$light: #FEFFBE;
$reflection: #FCFCF7;
$metal: #888F98;

*, *::before, *::after{
	box-sizing: border-box;
}

@mixin pseudo_base{
	content: '';
	display: block;
	position: absolute;
}

body{
	background: $background;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
}
.lightbulb__container{
	position: relative;
	width: 15rem;
	height: 19rem;
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: space-between;
	.lightbulb__bulb{
		position: relative; 
		width: 13rem;
		height: 13rem;
		background: $light;
		border-radius: 50%;
		&_inside{
			position: absolute;
			right: 1rem; 
			top: 2rem;
			width: 8rem;
			height: 8rem;
			border-right: 1.15rem solid $reflection;
			border-radius: 50%;
			transform: rotateZ(-20deg)
		}
		&_bottom{
			position: absolute;
			width: 10rem;
			height: 4rem;
			bottom: -1.5rem;
			left: calc(50% - 5rem);
			background: $light;
			border-radius: 0 0 1rem 1rem;
		}
		&::before, &::after{
			@include pseudo_base;
			z-index: 5;
			top: 73%;
			width: 8rem;
			height: 8rem;
			background: $background;
		}
		&::before{
			left: -41%;
			border-top-right-radius: 50%;
		}
		&::after{
			right: -41%;
			border-top-left-radius: 50%;
		}
	}
	.lightbulb__base{
		z-index: 10;
		position: absolute;
		bottom: 1.75rem;
		width: 7.25rem;
		height: 2.5rem;
		background: $metal;
		border-radius: 0.5rem;
	}
	.lightbulb__glow{
		z-index: 8;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%) translateY(-15%) scale(0.5);
		filter: blur(5rem);
		width: 16rem;
		height: 16rem;
		border-radius: 50%;
		background: radial-gradient($light 25%, transparent 80%);
		animation: glow 5s ease infinite;
	}
	.lightbulb__spiral{
		width: 5rem;
    height: 1.5rem;
		background: darken($metal, 5%);
		border-radius: 0.5rem;
		background-image: linear-gradient(180deg, transparent 45%, darken($metal, 20%) 10%);
		background-size: 50% 30%;
	}
}

@keyframes glow{
	0%{
		transform: translateX(-50%) translateY(-15%) scale(0.5);
	}
	50%{
		transform: translateX(-50%) translateY(-15%) scale(1.15);
	}
	100%{
		transform: translateX(-50%) translateY(-15%) scale(0.5);
	}
}