doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 04 Big
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .main__container
            .hills__container
                .hill
                    .tree
                    .tree
                    .tree
                    .tree
                    .tree
                .hill
                    .tree
                    .tree
                    .tree
                    .tree
                    .tree
                    .tree
            .mountain__container
                .left__mountain
                .right__mountain