doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 21 Fast
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .lightning
            .top
            .middle
            .bottom
        .house
            .house__main
            .house__roof-one
            .house__chimney-one
            .house__roof-two
            .house__chimney-two
        .ground