*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recordplayer__top .record::before, .recordplayer__top .record__label::before, .recordplayer__top .record__label::after, .recordplayer__top .controls .needle .needle__front::before, .recordplayer__top .controls .needle .needle__end::before, .recordplayer__top .controls .switches .knob::before, .recordplayer__top .controls .switches .level::before {
  content: '';
  display: block;
  position: absolute;
}

body {
  background: #ECC8AE;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recordplayer {
  position: relative;
  width: 25rem;
  height: 20rem;
}

.recordplayer__top {
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  background: #F1F7ED;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0px 0px 8px rgba(68, 69, 69, 0.22);
          box-shadow: inset 0px 0px 8px rgba(68, 69, 69, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recordplayer__top .record {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #1F1B20;
  background-image: radial-gradient(transparent 25%, black 25%, black 28%, transparent 28%), radial-gradient(transparent 35%, black 35%, black 38%, transparent 38%), radial-gradient(transparent 45%, black 45%, black 48%, transparent 48%), radial-gradient(transparent 55%, black 55%, black 58%, transparent 58%), radial-gradient(transparent 65%, black 65%, black 68%, transparent 68%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
}

.recordplayer__top .record::before {
  background-image: radial-gradient(transparent 25%, #f4b488 25%, #f4b488 28%, transparent 28%), radial-gradient(transparent 35%, #f4b488 35%, #f4b488 38%, transparent 38%), radial-gradient(transparent 45%, #f4b488 45%, #f4b488 48%, transparent 48%), radial-gradient(transparent 55%, #f4b488 55%, #f4b488 58%, transparent 58%), radial-gradient(transparent 65%, #f4b488 65%, #f4b488 68%, transparent 68%);
  background-color: #F2A571;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  -webkit-clip-path: polygon(25% 0, 75% 0, 50% 50%, 75% 100%, 25% 100%, 50% 50%);
          clip-path: polygon(25% 0, 75% 0, 50% 50%, 75% 100%, 25% 100%, 50% 50%);
}

.recordplayer__top .record__label {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #ffa264;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recordplayer__top .record__label::before {
  width: 0.75rem;
  height: 0.75rem;
  background: #1F1B20;
  border-radius: 50%;
}

.recordplayer__top .record__label::after {
  width: 0.5rem;
  height: 0.5rem;
  background: #F1F7ED;
  border-radius: 50%;
}

.recordplayer__top .controls {
  width: 8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.recordplayer__top .controls .needle {
  position: relative;
  position: relative;
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recordplayer__top .controls .needle__holder {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.25rem solid #5a5e58;
  background: #80857d;
}

.recordplayer__top .controls .needle .needle__front, .recordplayer__top .controls .needle .needle__end {
  position: absolute;
  width: 0.65rem;
  background: #b4b7b1;
}

.recordplayer__top .controls .needle .needle__front {
  height: 8rem;
  top: 45%;
  left: 50%;
  -webkit-transform: rotateZ(36deg) translate(0%, -40%);
          transform: rotateZ(36deg) translate(0%, -40%);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.recordplayer__top .controls .needle .needle__front::before {
  width: 1.25rem;
  height: 1.25rem;
  background: #80857d;
  border-radius: 3px;
  left: -0.325rem;
}

.recordplayer__top .controls .needle .needle__end {
  height: 5rem;
  bottom: -54%;
  left: 17%;
  -webkit-transform: rotateZ(55deg);
          transform: rotateZ(55deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.recordplayer__top .controls .needle .needle__end::before {
  width: 0.85rem;
  height: 2rem;
  background: #4e514b;
  border-radius: 0.3rem;
  bottom: -20%;
  left: -0.125rem;
}

.recordplayer__top .controls .switches {
  width: 6rem;
  height: 8rem;
  background: rgba(242, 165, 113, 0.5);
  border: 0.25rem solid rgba(255, 162, 100, 0.5);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recordplayer__top .controls .switches .knob__container, .recordplayer__top .controls .switches .level__container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recordplayer__top .controls .switches .knob {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #F1F7ED;
  border: 0.2rem solid #515252;
  -webkit-box-shadow: inset 0px 0px 6px #c8dfb8, 0px 0px 16px 0px rgba(241, 156, 99, 0.5);
          box-shadow: inset 0px 0px 6px #c8dfb8, 0px 0px 16px 0px rgba(241, 156, 99, 0.5);
}

.recordplayer__top .controls .switches .knob::before {
  width: 0.25rem;
  height: 0.5rem;
  background: #444545;
  left: 0;
}

.recordplayer__top .controls .switches .knob:nth-child(1)::before {
  left: 12%;
  top: 50%;
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
}

.recordplayer__top .controls .switches .knob:nth-child(2)::before {
  left: 32%;
  top: 71%;
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
}

.recordplayer__top .controls .switches .level {
  position: relative;
  width: 0.25rem;
  background: #9A9E97;
  height: 6rem;
  border-radius: 1rem;
}

.recordplayer__top .controls .switches .level::before {
  width: 2rem;
  height: 1rem;
  background: #5a5e58;
  border-radius: 0.25rem;
  left: -0.85rem;
  top: 28%;
}

.recordplayer__bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#444545));
  background: linear-gradient(#1e1e1e, #444545);
  border-radius: 0.3rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=style.css.map */