doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 09 Game
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .gcolor__container
            .top__container
                .screen__container
                    .screen
                    .logo
                        p
                            em 
                                | GAME BOY 
                            span C
                            span O
                            span L
                            span O
                            span R
            .controls
                .top
                    .pad__container
                        .up
                        .left
                        .center
                        .right
                        .down
                    .buttons
                .bottom
                    .menu
                    .sound
