doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 22 Fruit
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .container
            .dragonfruit__steam
            .dragonfruit__main
                - for (var i = 0; i < 11; i++)
                    .seed
            - for (var i = 0; i < 4; i++)
                .spike