doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 05 Light
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .container
            .lightbulb__container
                .lightbulb__bulb
                    .lightbulb__bulb_inside
                    .lightbulb__bulb_bottom
                .lightbulb__base
                .lightbulb__glow
                .lightbulb__spiral