doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 07 Shape
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .container
            .wire__container
                .bird__container
                    .bird
                        .bird__head
                        .bird__body
                    .bird
                        .bird__head
                        .bird__body
                    .bird
                        .bird__head
                        .bird__body
                    .bird
                        .bird__head
                        .bird__body
                    .bird
                        .bird__head
                        .bird__body
                .wire