doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 06 Music
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
.recordplayer
    .recordplayer__top
        .record
            .record__label
        .controls
            .needle
                .needle__holder
                .needle__front
                .needle__end
            .switches
                .knob__container
                    .knob
                    .knob
                .level__container
                    .level
    .recordplayer__bottom