doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 19 Color
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
    .container
        .dispenser__top
            .dispenser__top__mound
        .dispenser__glass
            - for (var i = 0; i < 19; i++)
                .bubblegum
        .dispenser__label
        .dispenser__holder
        .dispenser__bottom
            .dispenser__controls
                .turner
                .output
                    .bubblegum
        .dispenser__tray