doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #Codevember 20 Stretch
        link(rel="stylesheet", type="text/css", href="../css/style.css")
    body
        .container
            .fish
                .fish__body
                    .spot
                    .spot
                    .spot
                    .spot
                    .eye.left
                    .eye.right
                .fish__transparent
            .snout
            .upperfin
            .fin.left
            .fin.right
            .tail
                .tail-left
                .tail-right